/* Styles for Home page */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#gameControls {
    position: fixed;
    inset: 0;
    z-index: 10;
    pointer-events: auto;
}

.background-image1 {
    background-image: url('../images/HP_BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
}

header {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    text-align: center;
}

/* Play Button Styles */
#playButton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Styles for the game page */
#backgroundCanvas {
    position: fixed;
    inset: 0;   
    width: 100vw;
    height: 100vh; 
   background-image: url('../images/BG.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
}

#restartBtn {

    position: absolute;
    top: 20px;
    right: 20px;
      background: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
z-index: 10;
}
#homeBtn {
    position: absolute;
    top: 20px;
    right: 140px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
    text-decoration: none;
    color: black;
    font-weight: bold;
}