/* Styles for Home page */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#gameControls { 

    pointer-events: none;
}

.background-image {
    background-image: url(../images/HP_BG.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
}

header { 
    padding: 10px 20px;
    text-align: center;
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Great Vibes", cursive;
    font-size: 70px;
}


/* Game rules img */
.play-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 5;

}

.rules {
    width: 360px;
    height: auto;
}

/* Play Button Styles */
#playButton { 
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 5;
    text-decoration: none !important;
    color: black !important;
}

/* Styles for the game page */
#backgroundCanvas {
    position: fixed;
    inset: 0;    
   background-image: url(../images/BG.webp);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
    z-index: 0;
    pointer-events: auto;
}
 
#homeBtn {
    position: absolute;
    top: 40px;
    right: 100px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    text-decoration: none;
    color: black;
    font-weight: bold;
    pointer-events: auto;
}




/* MEDIA QUERIES */

/* Mobile phones (≤ 400px) */
@media (max-width: 400px) {
    header > h1 {
        font-size: 40px;
        padding: 8px 12px;
    }
}

/* Mobile phones (≤ 600px) */
@media (max-width: 600px) {
    header > h1 {
        font-size: 60px;
        padding: 8px 12px;
    }

    #playButton {
        top: 75%;
        padding: 10px 16px;
        font-size: 14px;
    }

    #homeBtn {
        top: 10px;
        right: 20px;
        padding: 8px 16px;
    }
}

/* Tablets (601px – 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    header > h1{
        font-size: 70px;
        padding: 10px 16px;
    }

    #playButton {
        padding: 12px 18px;
        font-size: 15px;
    }

    #homeBtn {
        right: 80px;
    }
}

/* Laptops (901px – 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
    header {
        font-size: 60px;
    }

  
}

/* Desktops (≥ 1201px) */
@media (min-width: 1201px) {
    header {
        font-size: 70px;
    }


}
